html{
  scroll-behavior: smooth;
}

body {
    /*background-image: url(ooo.jpeg); 
          background-size: cover; */
    background-color: #2B6882;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    height: 100%;
    font-size: 20px;
    margin-bottom: 60px;
  }

p {
    text-align: justify;
}

.main_p {
    margin: 40px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
}

.alt_p {
    text-align: center;
    font-size: 18px;
}

#p1_0 {
    margin: 80px 0;
}

#main img {
    width: 20%;
    margin: 0 30px 0 0;
    float: left;
}

.img2, .img3 {
    text-align: center;
}

.img2 img {
    margin: 0 auto!important;
    padding: 10px;
    float: none!important;
    display: inline-block;
}

.img3 img{
    margin: 0 auto!important;
    padding: 30px;
    float: none!important;
    display: inline-block;
    width: 30%
}




  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(24, 62, 78, 0.404);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  #myBtn i {
    font-size: 40px;
  }
  
  .container {
    width: 80%;
    height: 40px;
    position: relative;
    top: 40px;
    margin: 0 auto;
  }
  
  #logo {
    position: absolute;
    top: 0;
    left: 0;
    color: white;   
  }

  #second, #third, #forth, #fifth, #sixth, #seventh, #p1_1, #p1_2{
      display: none;
  }

  #p1_1 p {
    margin-top: 0
}

#p1_1 span, #p1_2 span {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}


#second p span {
    font-size: 20px;
    text-decoration: underline;
    font-weight: 700;
}



#second ul li, #second ol li, #fifth ul li, #sixth ul li {
  color: #ffffff;
  text-align: left;

}


#sixth ul li {
    list-style: none;
}

#sixth ul li i{
    border: none;

}

.italic {
    font-style: italic;
    font-size: 20px;
}

section img {
  margin: 40px auto;
}

section p {
  margin: 40px 0;
  color: white;
}

.picture:after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

#sixth div {
    float: left;
}
#sixth i {
  font-size: 200px;
  color: #ffffff;
}

  .navigation-wrapper {
    position: relative;
  }
  .navigation-button {
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 100px;
    background: transparent;
    cursor: pointer;
  }
  .navigation-button .fa {
    border: 2px solid white;
    border-radius: 3px;
    padding: 10px;
      color: white;
  }
   
  
  .navigation-menu ul li {
    list-style: none;
    font-family: impact;
    font-weight: 300;
    color: hsl(0,0%,70%);
  }
  
  .navigation-menu {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    background: #fff;
    height: 100%;
    transform: skewX(0deg) translate(100%,0);
    transform-origin: top right;
    transition: all .2s ease-in;
    /*z-index: -1; */
  }
  .navigation-menu ul {
    transform: skewX(-8deg);
    transform-origin: top left;
    position: fixed;
    right: 120px;
    top: 120px;
    width: 400px;
    text-align: right;
  
  }
  .navigation-menu ul li {
    position: relative;
      z-index: 999;
    font-size: 32px;
    color: hsl(0,0%,10%);
    line-height: 64px;
  }
  .navigation-menu ul li  a {
    border: none;
    color: hsl(0,0%,10%);
    text-decoration: none;
  }
  .navigation-menu.active {
    transform: skewX(8deg) translate(0,0);
      
  }
  
  .navigation-menu li {
    opacity: 0;
    transform: translate(0, 10px);
    transition: all .0s ease-in .3s;
    
  }
  .navigation-menu.active li {
    opacity: 1;
    transform: translate(0,0);
    transition: all .2s ease-in 0s;
  }
  .navigation-menu.active li:nth-child(1) {
    transition-delay: .3s;
  }
  .navigation-menu.active li:nth-child(2) {
    transition-delay: .4s;
  }
  .navigation-menu.active li:nth-child(3) {
    transition-delay: .5s;
  }
  .navigation-menu.active li:nth-child(4) {
    transition-delay: .6s;
  }
  .navigation-menu.active li:nth-child(5) {
    transition-delay: .7s;
  }
  .navigation-menu.active li:nth-child(6) {
    transition-delay: .8s;
  }
  .navigation-menu.active li:nth-child(7) {
    transition-delay: .9s;
  }
          .hero h1{
               
              margin-top: 178px;
              text-transform: uppercase;
              font-family: impact;
              font-size: 26px;
              letter-spacing: 4px;
              color: white;
              
               
          } 
          
          span{
              font-size: 65px;
              letter-spacing: 2px;
              font-family: impact;
          }
          
          .button {
              
               
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: normal;
            font-size: 12px;
            margin-top: 40px;
            text-decoration: none;
               
          }
          .btn1:hover{
              text-decoration: none;
              background: #f20c4a;
              color: #ffffff;
          }

         .btn2:hover{
            text-decoration: none;
             background: #f20c4a;
             color: #ffffff;
         }

          .btn1:focus{
            background: #f20c4a;
          }

          .btn2:focus {
              background: #f20c4a;
              color: #ffffff;
          }

          .btn1{
              padding: 12px 25px;
              background: #f4f6f8;
              text-decoration: none;
              color: #000;
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
               
          }
          .btn2{
              padding: 12px 25px;
              background: #f4f6f8;
              text-decoration: none;
              color: #000;
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
               
          }

.btn:hover{
    text-decoration: none;
    background: #f20c4a;
    color: #ffffff;
}



.btn:focus{
    background: #f20c4a;
}

.btn:focus {
    background: #f20c4a;
    color: #ffffff;
}

.btn{
    padding: 12px 25px;
    background: #f4f6f8;
    text-decoration: none;
    color: #000;


}

/* mobile menu */



.fa {
    color: #ffffff;
    border: 2px solid white;
    border-radius: 3px;
    padding: 10px;

}


.menu {
  width: 100%;
}

.menu-toggle{
	/*position: absolute; */
	top: 2.5rem;
	right: 2.5rem;
	color: #ffffff;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
    float: right;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand a{
    color: #ffffff;
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: crimson;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;

}

nav ul li a {
  color: #ffffff;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	/* letter-spacing: 2px; */
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: #ffffff;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

.container_menu {
    max-width: 120rem;
    width: 80%;
    margin: 0 auto;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 993px){

  .container {
        width: 100%;
  }
  .menu{
    width: 100%;
      /* position: relative;
        overflow: hidden; */
  }

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
    /* transform: scale(1);
    background: #ffffff;*/
	  opacity: 1;
  }

  section h1 span {
    font-size: 40px;
  }
    #sixth ul li {
        padding: 0;
text-align: center;
        text-decoration: none;
        list-style: none;
        font-size: 15px;
    }

  /* mobile responsive */
  
}


/* calculator */

.loading {
    text-align: center;
    margin-top: 30px
}

.lds-ring {
    display: none;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 60px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 6px;
    border: 6px solid #ffffff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ffffff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    display: inline-block;
    /*width: 100%; */
    text-align: center;
    border-collapse: collapse;
}

table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
    background: #ffffff
}
table.greyGridTable tbody td {
    font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
    background: #ffffff;
}
table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
    border-left: none;
}

table.greyGridTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
    font-size: 14px;
}

/* calculator */

@media screen and (max-width: 1180px) {
    table.greyGridTable {
        width: 100%;
        display: table;
    }

    .loading {
        text-align: center;
        margin-top: 200px
    }

    .lds-ring {
        margin-left: 40%;
    }
}

@media screen and (max-width:  993px) {
    #main img {
        width: 60%;
        margin: 0 auto 20px auto;
        float: none;
    }
}


@media screen and (max-width: 700px) {
    #sixth ul {
        padding: 0;
    }
    #sixth ul li {
        text-decoration: none;
        list-style: none;
        font-size: 25px;
    }



    #p1_0 {
        margin-top: 40px;
    }



    .img3 img{
        margin: 30px auto!important;
        padding: 0;
        float: none!important;
        display: block;
        width: 100%
    }



}

/* mobile responsive */

